body{
  background-image:url("../img/Stupa_Borobudur.jpg");
  background-size:cover;
  /* background-attachment:fixed; */
}

div{
  border: 1px solid red;
  margin:0 25%;
  height:500px;
  width:800px;
  background-image:url("../img/avocado.jpg");
}

div.repeat{
  background-repeat:repeat-x;
}

p{
  color:blue;
  text-align:justify;
}
